* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: white;
}

/* clases de utilidad */
.flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-content-end {
  justify-content: flex-end;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}




.main-header { 
  background: linear-gradient(83.1deg, rgba(154, 46, 52, 0) -0.08%, #C87B4D 93.59%), url('../assets/banner.jpg'), no-repeat;
  background-size: cover;
  height: 100vh;
  background-position: center, center;
  background-attachment: fixed;
  color: white;
  padding: 20px 40px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
}

/* Medidas

Relativas:
  %
  viewport - vh - vw
  em
  rem

Absolutas:
  px
  cm
  mm
*/

/* .main-header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
} */

.main-header nav ul {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.main-header .header-center {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}

.main-header .header-center h1 {
  font-weight: 800;
  font-size: 48px;
}

.main-header .header-center img {
  margin: 40px 0;
}

.main-header .header-center p {
  width: 50%;
  text-align: center;
}

/* .main-header nav ul li {
  margin: 0 20px;
} */


.main-header .header-center .wrapper-video {
  position: relative;
}

.main-header .header-center img {
  margin:0;
}

.main-header .header-center video {
    position: absolute;
    top: 17px;
    left: 10px;
}

.main-header section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-header .btn {
  display: inline-block;
  width: 150px;
  padding: 10px;
  border: 1px solid orange;
  border-radius: 100px;
  text-align: center;
}

.main-header section ul {
  display: flex;
}

.main-header section ul li {
  margin: 0 10px;
}